Projects/Personal Assistant MCP server v1.json
{
  "name": "Personal Assistant MCP server",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "id": "ae878f13-bf4b-4dc5-a627-641e853bb0f4",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -1472,
        16
      ],
      "webhookId": "989c3a79-5a0c-4ca1-a542-55e060816121",
      "typeVersion": 1.1
    },
    {
      "parameters": {},
      "id": "f8327f98-8186-4772-8032-26a8f1a2856a",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -1136,
        224
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "path": "b37ab045-0b99-4d57-af44-6ae1e9ac6381"
      },
      "id": "7e933832-f2a9-4681-8e2b-06a7e98f2987",
      "name": "MCP Server Trigger",
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "position": [
        272,
        -128
      ],
      "webhookId": "b37ab045-0b99-4d57-af44-6ae1e9ac6381",
      "typeVersion": 1
    },
    {
      "parameters": {
        "sseEndpoint": "=https://n8n.srv1170819.hstgr.cloud/mcp/b37ab045-0b99-4d57-af44-6ae1e9ac6381/sse",
        "options": {}
      },
      "id": "3d596f78-cc7f-44e4-a902-31ba411bd961",
      "name": "MCP Client",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "position": [
        -720,
        176
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Sign off as \"Your name, company name\"`, 'string') }}",
        "options": {}
      },
      "id": "4588612b-4706-4ccf-a9a4-b76050aef288",
      "name": "Draft email",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        832,
        112
      ],
      "webhookId": "4e76cb3d-4239-4030-a23a-544029535f70",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "L7gmhYNAYBG6285V",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Connect to the MCP Server Trigger based on user requirement: {{ $json.chatInput }}",
        "options": {}
      },
      "id": "9d560690-838c-416b-9fda-c339be1583b6",
      "name": "Personal Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -1216,
        16
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "content": "## MCP Client\n\nPaste your MCP client URL from the MCP server trigger node.\n\nCustomize your output node to receive the workflow completion notifications (eg. Telegram, Gmail) from your personal assistant",
        "height": 480,
        "width": 480
      },
      "id": "c75f2d9f-3af0-431c-a079-7d016c165978",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -864,
        -112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "filters": {}
      },
      "id": "153409f5-142e-47dc-8e3c-b79de3948d9a",
      "name": "Find emails",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        704,
        128
      ],
      "webhookId": "b36e3112-52b1-4e03-a2d3-74d5d4705891",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "L7gmhYNAYBG6285V",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1360,
        224
      ],
      "id": "d89bf1c6-45ce-457f-8f07-fd75e651b894",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bRelpAdk0hzWSBMm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        384,
        128
      ],
      "id": "fc5882e2-a2e5-4465-9c95-fdb2952af3ae",
      "name": "Calculator"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_to_Update', ``, 'string') }}",
          "mode": "id"
        },
        "changeFileContent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Change_File_Content', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        48,
        112
      ],
      "id": "c536acb7-0e4b-4239-9cfb-f44ccb66d245",
      "name": "Update file in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xlzD3qB5vB804JWi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1_1I0y5XLAkeoUS_y6_uOTee9xaB2GN_wIL77Mm3vnLk",
          "mode": "list",
          "cachedResultName": "Gmail ID's",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_1I0y5XLAkeoUS_y6_uOTee9xaB2GN_wIL77Mm3vnLk/edit?usp=drivesdk"
        },
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        192,
        112
      ],
      "id": "ea54aef0-118e-450d-816b-7021194ed7d4",
      "name": "Create sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ZpLb0Ykr143nrI6o",
          "name": "Google Sheets – Main"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        576,
        144
      ],
      "id": "a252b0f0-e300-4ca8-a3db-370cc91a70bd",
      "name": "Send a message in Gmail",
      "webhookId": "7a572658-fe1b-432d-a852-fbe6d63e6124",
      "credentials": {
        "gmailOAuth2": {
          "id": "L7gmhYNAYBG6285V",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## MCP Server \n\nwhile running the workflow, need to switch the workflow from Inactive to Active, then only the MCP Server Trigger will be active and then you will not get any issues",
        "height": 320,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -336
      ],
      "id": "c06ea1f0-7d0f-492f-b28c-c97480698dc4",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Draft email": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Find emails": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Personal Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Personal Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4aeef782-3bc8-4f25-a56a-72457d7fe09f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05ccd12ae236661ced4607d3dac4c46751751064048f4a227ebf78372e726945"
  },
  "id": "loX7ps6r5a5SHSdw",
  "tags": []
}