Projects/RAG AI Agent 2.0.json
{
  "name": "RAG AI Agent 2.0",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        -880
      ],
      "id": "22bc3f34-e1fd-4f2a-b55c-877d483eeddd",
      "name": "Telegram Trigger",
      "webhookId": "e3d8fe5a-6495-4ac4-9c7b-0e129c4a01d4",
      "credentials": {
        "telegramApi": {
          "id": "44YQEevkH3UwKGEY",
          "name": "Dude_AI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Answer the user query:  {{ $json.message.text }}",
        "options": {
          "systemMessage": "ROLE: RAG/Search Router.\nPRIORITY ORDER:\n1. IF query=\"latest/current\" -> CALL `serp_api`.\n2. ELSE -> FORCE `rag_tool` call.\n   - IF RAG_Result found -> Answer using RAG.\n   - IF RAG_Result empty -> Fallback to Internal Knowledge.\n\nCRITICAL RULE:\nYou are FORBIDDEN from answering standard queries without attempting `rag_tool` first."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        -880
      ],
      "id": "049c21a6-5fbf-4d0a-b4e5-1e487d54495d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        -672
      ],
      "id": "4b504c96-a90b-45f9-bc72-777891100bc2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bRelpAdk0hzWSBMm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=telegram_ {{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        -672
      ],
      "id": "c1b6c63e-1b80-44c9-8415-6750d05842cd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -880
      ],
      "id": "135e0128-5db0-43a7-802c-ba0dd51341ef",
      "name": "Send a text message",
      "webhookId": "4f218339-3923-4b9a-9e0a-35c424269a7e",
      "credentials": {
        "telegramApi": {
          "id": "09wrhzdFIIcY6jiz",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1216,
        -832
      ],
      "id": "1994586e-3616-4943-ac30-5c506055cf13",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xlzD3qB5vB804JWi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1LBcfQSg80cBTRZnWrsIf7uE3XyK0PSuQ",
          "mode": "list",
          "cachedResultName": "n8n_RAG_Agent",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1LBcfQSg80cBTRZnWrsIf7uE3XyK0PSuQ"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        -832
      ],
      "id": "f523ffb4-f5a6-4a76-93e9-b136a6a9bab2",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "xlzD3qB5vB804JWi",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag-agent",
          "mode": "list",
          "cachedResultName": "n8n-rag-agent"
        },
        "options": {
          "pineconeNamespace": "=company_document_{{ $now.format('DD') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -832
      ],
      "id": "9016c78a-46c6-4287-b276-b95fa5fe3f79",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "WwKZYlyQiT3zsEF4",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1056,
        -624
      ],
      "id": "e67c1372-e8fa-4ccc-b02e-f05699a6bf2c",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "bRelpAdk0hzWSBMm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -880,
        -624
      ],
      "id": "262f15c5-ddfe-49e2-a0ab-5966a14d3c0b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -784,
        -416
      ],
      "id": "9810fc18-c291-4288-9bdb-deccb46aa474",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        640,
        -240
      ],
      "id": "6e68ab25-e0e4-4a0e-a87e-542700afe939",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "bRelpAdk0hzWSBMm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag-agent",
          "mode": "list",
          "cachedResultName": "n8n-rag-agent"
        },
        "options": {
          "pineconeNamespace": "=company_document_{{ $now.format('DD') }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -224,
        -288
      ],
      "id": "d3499d0f-cd75-4e0b-b0b8-64d1599b7d3a",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "WwKZYlyQiT3zsEF4",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -224,
        -80
      ],
      "id": "41268660-2066-4fb4-8dfd-c3aeda68a85a",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "bRelpAdk0hzWSBMm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Retrieve the context based on the user query"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        176,
        -480
      ],
      "id": "00a8befc-45a9-4e9f-a381-626564bae0d9",
      "name": "Basic RAG - Answer questions with a vector store"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "api_key",
              "value": "=17f28efd5865c1c52dd13ac6b8ac758696ed147edb69c8bb72ff931ff9e1792f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        384,
        -656
      ],
      "id": "ff4d0cc9-a349-4a3a-8ac7-13f9e1866984",
      "name": "HTTP Request : Using SERP API"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic RAG - Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Basic RAG - Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Basic RAG - Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request : Using SERP API": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "13cc7ceb-2019-4f1b-a301-4eb3134da9e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05ccd12ae236661ced4607d3dac4c46751751064048f4a227ebf78372e726945"
  },
  "id": "LK2mbLdrkh8yQerX",
  "tags": [
    {
      "updatedAt": "2025-12-08T03:40:51.161Z",
      "createdAt": "2025-12-08T03:40:51.161Z",
      "id": "pH5wWpqY6aeKZRGS",
      "name": "AI_Agent_Project"
    }
  ]
}