Projects/Telegram AI Agent.json
{
  "name": "Telegram AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d9d6fb6d-794f-4c07-920f-75d326acce26",
      "name": "Telegram Trigger",
      "webhookId": "9f299b6e-7739-4aff-af8c-4a52834f58ac",
      "credentials": {
        "telegramApi": {
          "id": "44YQEevkH3UwKGEY",
          "name": "Dude_AI"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reply to the query with your intelligence: {{ $json.message.text }}",
        "options": {
          "systemMessage": "=ROLE: Expert AI Assistant. CAPABILITIES: `serp_search`, `send_email`, `calculate`.\n\nRULES:\n1. `serp_search`: MANDATORY for news, weather, live data. NO hallucinations.\n2. `send_email`: ONLY on request. params={Subj, Body, Recip}.\n   - Body STRUCT: \"Salutation \\n\\n Content (use bullets/breaks) \\n\\n Sign-off\".\n   - CRITICAL: Force newlines (`\\n` or `<br>`). NEVER output single-line body text.\n3. `calculate`: MANDATORY for all math.\n\nPROCESS:\nAnalyze -> Tool -> Synthesize.\nIf Tool_Error: Polite fallback.\n\nSTYLE:\nProfessional, formatted, clear. NO internal thought revelation."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        240,
        0
      ],
      "id": "985cf677-9af9-475d-96a3-374053b2826e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "89c87f1d-3328-4acd-a256-aa8ee4425d01",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bRelpAdk0hzWSBMm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        208
      ],
      "id": "e91831d9-348b-4ce1-8971-aa269cba7be6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        0
      ],
      "id": "13c467a7-5f0f-440b-afe2-aa7be4b66842",
      "name": "Send a text message",
      "webhookId": "532d03f3-dbb7-45c2-8c65-c311c90cc97c",
      "credentials": {
        "telegramApi": {
          "id": "44YQEevkH3UwKGEY",
          "name": "Dude_AI"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "api_key",
              "value": "17f28efd5865c1c52dd13ac6b8ac758696ed147edb69c8bb72ff931ff9e1792f"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        704,
        240
      ],
      "id": "fa13e508-f576-4053-a9a2-4d559698a67a",
      "name": "HTTP Request : Using SERP API"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        560,
        256
      ],
      "id": "d1e4f5c5-76cc-4e2b-9f47-83a2d984b7eb",
      "name": "Calculator"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        416,
        224
      ],
      "id": "1084412d-9465-43e5-b34f-3e36aaa5d3ab",
      "name": "Send a message in Gmail",
      "webhookId": "87140bac-2c0f-4c9d-a1f1-6b0b97dda9c6",
      "credentials": {
        "gmailOAuth2": {
          "id": "L7gmhYNAYBG6285V",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request : Using SERP API": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72f12dec-0b33-4999-8339-b6f07d5ade23",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05ccd12ae236661ced4607d3dac4c46751751064048f4a227ebf78372e726945"
  },
  "id": "sTNfXbhVBcQEA9oA",
  "tags": [
    {
      "updatedAt": "2025-12-08T03:40:51.161Z",
      "createdAt": "2025-12-08T03:40:51.161Z",
      "id": "pH5wWpqY6aeKZRGS",
      "name": "AI_Agent_Project"
    }
  ]
}