workflows/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        16
      ],
      "id": "cea5db28-89ed-4f73-bc08-2fd68fca7731",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d59832e6-828e-4207-8e5f-c3bebb554828",
              "name": "",
              "value": "[\n\n{\n\"name\": \"A\",\n\"city\": \"Erode\",\n\"age\": 30\n},\n\n{\n\"name\": \"B\",\n\"city\": \"Salem\",\n\"age\": 20\n},\n\n{\n\"name\": \"C\",\n\"city\": \"Chennai\",\n\"age\": 10\n},\n\n{\n\"name\": \"D\",\n\"city\": \"Bangalore\",\n\"age\": 40\n}\n\n]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        16
      ],
      "id": "36d66f6d-e24a-406a-a21e-a3d772962a63",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Get the string that contains the JSON array\nconst jsonString = items[0].json[\"\"];\n\n// Parse the JSON string into an array\nconst dataArray = JSON.parse(jsonString);\n\n// Return each object as a separate item in n8n\nreturn dataArray.map(entry => ({ json: entry }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        16
      ],
      "id": "3fc23baf-a968-4bd6-a021-a456f10e23c2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        192,
        16
      ],
      "id": "4cc4a096-9260-49f2-8103-e58cf045725e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b0b582d4-c097-4d21-8150-20eac8d0e888",
              "leftValue": "={{ $json.age }}",
              "rightValue": 25,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        -80
      ],
      "id": "d1a8b7ea-1fa5-4b81-b987-a0de103f3ce2",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0b06275-8726-4bad-92a7-43a5ec9d69e0",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "5917b6a1-7274-4e13-a2e4-76ffcf801801",
              "name": "Result",
              "value": "Old People",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -272
      ],
      "id": "cc82ec04-731e-4efc-92df-41ff3dbc234c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d23d9832-b049-4371-bf8c-517ea2ba879b",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "f589bcae-f647-4489-a3eb-4bbaab6d4376",
              "name": "Result",
              "value": "Young People",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        64
      ],
      "id": "b67937a8-61fb-4096-a3f4-424eaf9dfe45",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "57a7f918-a6e3-4cf2-8f3b-0db07b501c63",
  "meta": {
    "instanceId": "56f7db8ac0e93e8ed84362efdb878170514b217d383bece64b5946f822544eff"
  },
  "id": "qVD4lqpQ4eJwMBr3",
  "tags": []
}