workflows/UI_Automation (1).json
{
  "name": "UI_Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        -16
      ],
      "id": "c66d3bd5-b75e-42b5-9d9a-9528c8d7d03c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5afa48c-a81a-4c0e-89c0-789d79ce2169",
              "name": "date_time",
              "value": "={{$now.toFormat(\"yyyy-MM-dd HH:mm:ss\")}}\n\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        -16
      ],
      "id": "69b44d12-7bf8-4b90-8d77-8890eb9c8dab",
      "name": "Date and Time"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5000/update-notepad",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "date_time",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        432,
        -16
      ],
      "id": "94d80209-817a-43a5-b4e0-d6c7c80e0356",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=convert the data in wordingd: {{ $json.date_time }}\n\n#strictly one line output\n#convert only date into wordings not time\n\nexamples:\n\n 2025-12-04 08:47:18\n 12th December 2025 08:47:18",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        112,
        -16
      ],
      "id": "c8d9300d-5e19-4694-afa7-8feb7a1565fb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        48,
        192
      ],
      "id": "0d28ebcc-3fe3-4aaf-889c-3dba29e6405e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1O1WjGRiob3gV9ew",
          "name": "opena_ai_api_key_sathiya"
        }
      }
    },
    {
      "parameters": {
        "content": "## UI Automation\n**Notepad**\n\n1. Open notepad\n2. write the date along with time",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -176
      ],
      "typeVersion": 1,
      "id": "26f12c1c-16cb-4ef8-a0e7-f5ff054ffd10",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date and Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date and Time": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "782f14f6-b8a6-40ea-8ffb-3d8a6e23d251",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56f7db8ac0e93e8ed84362efdb878170514b217d383bece64b5946f822544eff"
  },
  "id": "B3U963nDzz20f0r0",
  "tags": [
    {
      "updatedAt": "2025-12-02T17:03:33.468Z",
      "createdAt": "2025-12-02T17:03:33.468Z",
      "id": "VMa92zAGGjN1H8ky",
      "name": "my_first_project"
    },
    {
      "updatedAt": "2025-12-02T16:12:04.363Z",
      "createdAt": "2025-12-02T16:12:04.363Z",
      "id": "fqbFQVybXfLI0gZQ",
      "name": "learning_stage_1"
    }
  ]
}